{% load static %}

<header>
        <nav class="navbar navbar-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3" style="background-color: #242659;">
          <nav class="my-0 mr   -md-auto font-weight-normal">
              <a>
                 <a class="navbar-brand text-white" href="/">CONTROLE DE ESTOQUE - RU</a>
              </a>
          </nav>
      <nav class="navbar navbar-light" style="background-color: #242659;">
        <a class="p-2 text-white" href="/">Home</a>
        <a class="p-2 text-white" href="/dashboard">Dashboard</a>
        <a class="p-2 text-white" href="/produtos">Produtos</a>
        <a class="p-2 text-white" href="/movimentacoes">Movimentações</a>
        <a class="p-2 text-white" href="/categorias">Categorias</a>
        <a class="p-2 text-white" href="/fornecedores">Fornecedores</a>
      </nav>
    </nav>
</header>