{% include '_cabecalho.html' %}
{% block conteudo %} {% endblock %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Visualização</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
     <body>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <h2> VISUALIZAR PRODUTO </h2>
        </div>

          <div class="container-fluid col-5 text-left">
              <div class="card pt-3 pb-3 ">
                <div class="col-flex m-auto pt-2 pb-2 text-left">
                    <strong>Descrição:</strong> {{db.descricao}} <br>
                    <strong>Unidade:</strong> {{db.unidade}} <br>
                    <strong>Quantidade:</strong> {{db.qtde_produto}} <br>
                    <strong>Estoque Mínimo:</strong> {{db.estoque_min}} <br>
                    <strong>Preço:</strong> {{db.preco}} <br>
                    <strong>Validade:</strong> {{db.validade}} <br>
                    <strong>Observação:</strong> {{db.observacao}} <br>
                    <strong>Fornecedor:</strong> {{db.fornecedor}} <br>
                    <strong>Categoria:</strong> {{db.categoria}} <br>
                </div>
              </div>
            <div class="col-8 m-auto pt-3 pb-2 text-center">
                <a href="/produtos" class="btn btn-primary"> Voltar </a>
            </div>
        </div>
      </body>
</html>